@font-face {
    font-family: 'ALS Rubl';
    src: url('../fonts/ALSRubl.eot');
    src: url('../fonts/ALSRubl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ALSRubl.woff2') format('woff2'),
        url('../fonts/ALSRubl.woff') format('woff'),
        url('../fonts/ALSRubl.ttf') format('truetype'),
        url('../fonts/ALSRubl.svg#ALSRubl') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/PragmaticaBlack-Oblique.eot');
    src: url('../fonts/PragmaticaBlack-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaBlack-Oblique.woff2') format('woff2'),
        url('../fonts/PragmaticaBlack-Oblique.woff') format('woff'),
        url('../fonts/PragmaticaBlack-Oblique.ttf') format('truetype'),
        url('../fonts/PragmaticaBlack-Oblique.svg#Pragmatica') format('svg');
    font-weight: 900;
    font-style: italic;
}