@import url(font.css);

/*
    G E N E R A L
*/
#Calltouch-callback-container{
}

.services__wrap{
	padding-top: 95px;
}
.container-service {
	max-width: 1200px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}
.services__wrap .title {
    margin-bottom: 45px;
}
.services__items {
	font-size: 0;
	border: 1px solid #cccccc;
	border-radius: 10px;
	overflow: hidden;
	/*display: flex;
	flex-wrap: wrap;*/
}
.services__items-row{
    display: flex;
}
.services__item {
	width: 100%;
	max-width: 392px;
	border-bottom: 1px solid #cccccc;
	padding: 77px 41px 25px;
	background-repeat: no-repeat;
	background-position: 40px 27px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
    color: #000;
}
.services__item:nth-child(3n+2) {
	width: 100%;
	max-width: 394px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}
.service7, .service8, .service9 {
	border-bottom: 0;
}
.service__name {
	font-family: 'Pragmatica', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 2px;
	font-weight: 900;
	font-style: italic;
	/*text-rendering:optimizeLegibility;*/
}
.service__text {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 10px;
}
.price {
	-webkit-transform: skew(-15deg);
	-ms-transform: skew(-15deg);
	transform: skew(-15deg);
	border-radius: 10px;
	background: #e4000e;
	width: 105px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	padding: 5px 0;
	text-align: center;
	letter-spacing: normal;
	margin-bottom: 5px;
}
.price__info {
	-webkit-transform: skew(15deg);
	-ms-transform: skew(15deg);
	transform: skew(15deg);
	display: block;
	font-family: 'Pragmatica';
	font-size: 16px;
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
}
.rouble {
    font-family: 'ALS Rubl';
    font-weight: 600;
    text-transform: none;
}

.services__item:hover {
    background-color: #ed2124;
    color: #fff;
}
.services__item:hover .price {
    background: #fff;
    color: #000;
}

.service1 {
    background-image: url(../img/service-icon1.png);
}
.service1:hover {
    background-image: url(../img/service-icon1-hov.png);
}
.service2 {
    background-image: url(../img/service-icon2.png);
}
.service2:hover {
    background-image: url(../img/service-icon2-hov.png);
}
.service3 {
    background-image: url(../img/service-icon3.png);
}
.service3:hover {
    background-image: url(../img/service-icon3-hov.png);
}
.service4 {
    background-image: url(../img/service-icon4.png);
}
.service4:hover {
    background-image: url(../img/service-icon4-hov.png);
}
.service5 {
    background-image: url(../img/service-icon5.png);
}
.service5:hover {
    background-image: url(../img/service-icon5-hov.png);
}
.service6 {
    background-image: url(../img/service-icon6.png);
}
.service6:hover {
    background-image: url(../img/service-icon6-hov.png);
}
.service7 {
    background-image: url(../img/service-icon7.png);
}
.service7:hover {
    background-image: url(../img/service-icon7-hov.png);
}
.service8 {
    background-image: url(../img/service-icon8.png);
}
.service8:hover {
    background-image: url(../img/service-icon8-hov.png);
}



@media screen and (max-width: 768px) {
    .services__wrap {
        padding-top: 45px;
    }
    .services__items-row{
        flex-direction: column;
    }
    .services__item {
        max-width: 768px;
    }
    .services__item:nth-child(3n+2) {
        max-width: 768px;
        border-left: none;
        border-right: none;
    }
    .service7, .service8 {
        border-bottom: 1px solid #cccccc;;
    }
	.services__item, .services__item:nth-child(3n+2), .services__item:nth-last-child(3) {
		/*width: 100%;
		border: 0;
		border-bottom: 1px solid #cccccc;
	}
	.services__item:last-child {
		border: 0;*/
	}
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #252525;
    position: relative;
    height: 100%;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
    overflow:visible !important;
}
div, section, footer, .btn {
    box-sizing: border-box;
}
a {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
a:focus, input:focus {
    outline: none;
}
p {
    color: #252525;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
    letter-spacing: 0.01em;
}
ol {
	list-style: none;
	counter-reset: myCounter;
}
ol li {
	color: #252525;
	position: relative;
	font-family: 'Roboto Condensed';
	font-size: 20px;
	font-weight: 400;
	line-height: 29px;
	padding-left: 16px;
	letter-spacing: 0.01em;
	margin-bottom: 22px;
	text-align: left;
}
ol li:before {
	content: "";
	display: block;
	counter-increment: myCounter;
	content:counter(myCounter);
	color: #fff;
	text-align: center;
	font-family: 'Roboto Condensed';
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	width: 35px;
	height: 35px;
	background: #ee1d23;
	position: absolute;
	top: -2px;
    left: -29px;
	border-radius: 50%;
	z-index: -1;
}
.title {
	font-family: 'Pragmatica';
	line-height: normal;
	font-size: 46px;
	text-transform: uppercase;
	font-style: italic;
	color: #000000;
}
.desc {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 29px;
	font-size: 18px;
	color: #000000;
}
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
.container {
    max-width: 1380px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

/*
    B U T T O N S
*/

.btn {
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 7px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 26px;
	font-size: 16px;
	text-align: center;
	padding: 12px 0 13px 0;
	color: #000000;
}
.btn:hover {
	background: #ED1C24;
	color: #FFF;
	border-color: #ED1C24;
}
.red_btn {
	background: #ED1C24;
	border-radius: 7px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 26px;
	font-size: 16px;
	text-align: center;
	padding: 14px 0 15px 0;
	color: #FFFFFF;
}
.red_btn:hover {
	
}
.black_btn {
	background: #000000;
	border-radius: 7px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 26px;
	font-size: 16px;
	text-align: center;
	padding: 14px 0 15px 0;
	color: #FFFFFF;
}
.black_btn:hover {
	background: #fff;
	color: #000;
}

/*
    H E A D E R
*/
.header {
	padding: 20px 0 23px 0;
	font-size: 0;
	border-bottom: 1px solid #CECECE;
}
.header .logo,
.footer_top .logo {
	display: inline-block;
	vertical-align: top;
	max-width: 269px;
	width: 100%;
	margin-right: 56px;
}
.logo_text {
	display: inline-block;
	vertical-align: top;
	padding: 6px 0 0 0;
	max-width: 260px;
	width: 100%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 15px;
	color: #000000;
}
.address {
	display: inline-block;
	vertical-align: top;
	padding: 6px 0 0 20px;
	background: url(../img/gps.svg) no-repeat left 10px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 15px;
	color: #000000;
	max-width: 232px;
    width: 100%;
}
.phone {
	display: inline-block;
	vertical-align: top;
    max-width: 271px;
    width: 100%;
}
.phone a {
	font-family: Open Sans;
	background: url(../img/phone.svg) no-repeat left 11px;
	line-height: 25px;
	font-size: 27px;
	color: #000000;
	font-weight: 600;
	display: block;
	padding: 0 0 0 20px;
	margin-bottom: 6px;
}
.phone a sub {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 15px;
	float: left;
	color: #000000;
	margin-right: 11px;
}
.phone span {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 15px;
	color: #000000;
	padding: 0 0 0 20px;
}
.specialPhone {
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}
.specialPhone a {
	text-decoration: none;
    transition: none;
    color: black;
    padding: 10px 20px;
}
.callback {
	max-width: 272px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
nav {
	
}
.top_menu {
	float: left;
	max-width: 700px;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 0 0 0 78px;
}
.top_menu li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	margin-right: 18px;
}
.top_menu li:last-child {
	margin-right: 0;
}
.top_menu a {
	display: inline-block;
	vertical-align: top;
	padding: 20px 0 21px 0;
	font-family: Open Sans;
	line-height: normal;
	font-size: 15px;
	text-transform: uppercase;
	color: #000000;
	font-weight: 600;
}
.top_menu a:hover,
.top_menu a:active {
	color: #ED1C24;
}
.panorama {
	height: 192px;
	background-color: #D9D9D9;
	background-image: url(../img/piter.png);
	background-position: center 22px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	-webkit-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.top_wrap .title {
	margin-top: -16px;
	margin-bottom: 20px;
}
.advantages_item {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	color: #000000;
	background: url(../img/galka.svg) no-repeat top left;
	padding: 2px 0 0 40px;
}
.contacts_fix {
	display: none;
	float: right;
	max-width: 446px;
	width: 100%;
	margin: 8px 0px 0 0;
}
.contacts_fix_tel {
    display: inline-block;
    margin-right: 36px;
    font-family: Open Sans;
    line-height: 25px;
    font-size: 15px;
    margin-left: -8px;
    padding: 9px 0 0 21px;
    background: url(../img/phone.svg) no-repeat 0px 16px;
    font-weight: 600;
    color: #000000;
}
.contacts_fix .callback {
	padding: 7px 0 8px 0;
	display: inline-block;
	max-width: 272px;
	width: 100%;
}
.advantages {
	font-size: 0;
	margin-bottom: 38px;
}
.advantages_item {
	display: inline-block;
	vertical-align: top;
	margin-right: 48px;
}
.advantages .advantages_item:last-child {
	margin-right: 0;
}
.top_wrap .red_btn {
	display: inline-block;
	vertical-align: top;
	max-width: 272px;
	width: 100%;
}
.text_sale_price {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-left: 86px;
    margin-top: 8px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.5);
}
.text_sale_price:before {
    content: "";
    position: absolute;
    left: -71px;
    top: -43px;
    display: block;
    width: 55px;
    height: 78px;
    background: url(../img/arrow_down.svg) no-repeat center;
    transform: rotate(0);
}
.top_wrap_auto {
	position: absolute;
	right: 10px;
	top: 5px;
	display: block;
	width: 658px;
	height: 424px;
	background: url(../img/kiario.png) no-repeat center;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}
.top_wrap_auto:after {
	content: "";
	display: block;
	position: absolute;
    left: 49px;
    top: 11px;
	width: 131px;
	height: 131px;
	background: url(../img/shtamp.png) no-repeat center;
}
.top_wrap {
    border-bottom: 1px solid #CECECE;
    padding: 0 0 118px 0;
}
.banner {
	padding: 50px 0 50px 0;
	border-bottom: 1px solid #CECECE;
	display: none;
}
.banner img {
	margin: 0 auto;
}
.services_items {
	font-size: 0;
    padding: 95px 0 0 0;
}
.service_item {
	display: inline-block;
	position: relative;
	vertical-align: top;
	border: 1px solid #CECECE;
	box-sizing: border-box;
	width: 33.33%;
    padding: 0px 60px 29px 35px;
    -webkit-transition: all 0.1 ease;
       -moz-transition: all 0.1 ease;
        -ms-transition: all 0.1 ease;
         -o-transition: all 0.1 ease;
            transition: all 0.1 ease;
}
.service_item:hover {
	border-color: #000;
	z-index: 50;
}
.service_item:hover .service_item_price {
	background: #000;
	color: #FFF;
}
.service_item:hover .btn {
    background: #ED1C24;
    color: #FFF;
    border-color: #ED1C24;
}
.services_items .service_item:last-child {
	border-radius: 0 7px 7px 0;
	/*border-left: none;*/
    margin-left: -1px;
}
.services_items .service_item:nth-child(2) {
	/*border-left: none;*/
    margin-left: -1px;
}
.services_items .service_item:first-child {
	border-radius: 7px 0 0 7px;
}
.service_item_img {
	display: block;
	position: relative;
	border-radius: 7px;
	width: 100px;
	height: 100px;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -28px;
	margin-left: 2px;
	margin-bottom: 7px;
}
.service_item_price {
	background: #ED1C24;
	border-radius: 7px 7px 7px 0px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 26px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	right: -80px;
    bottom: 0px;
    padding: 6px 11px 4px 13px;
}
.service_item_price i {
	font-family: 'ALS Rubl';
	font-style: normal;
}
.service_item_price b {
	font-weight: normal;
	font-size: 14px;
}
.service_item .btn {
	display: block;
	max-width: 312px;
	width: 100%;
}
.service_item_title {
	font-family: Open Sans;
	line-height: normal;
	font-size: 23px;
	font-weight: 600;
	color: #000000;
	margin-bottom: 6px;
}
.service_item_desc {
	font-family: Open Sans;
	font-style: normal;
	height: 65px;
	font-weight: normal;
	line-height: 25px;
	font-size: 15px;
	color: #000000;
	margin-bottom: 22px;
}
.services_items_box {
	margin-bottom: -38px;
}
.car_items {
	padding: 0 0 0 0;
	position: relative;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
    height: 755px;
    border-bottom: 1px solid #CECECE;
	overflow: hidden;
}
.car_items_img {
	position: absolute;
	width: 1440px;
	height: 552px;
	background: url(../img/eskiz_opacity.png) no-repeat 0 -60px;
	top: 0;
	left: 50%;
	margin-left: -720px;
}
.services .services_items_box:last-child {
	margin-bottom: 0;
}
.car {
	max-width: 1084px;
	width: 100%;
	height: 610px;
	position: absolute;
	background: url(../img/car_otems.png) no-repeat center;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	left: 50%;
	top: 57px;
    margin-left: -542px;
    padding: 105px 0 0 0;
}
.car:after {
	content: "";
	display: block;
	max-width: 1046px;
	width: 100%;
	height: 440px;
	background: url(../img/lines.png) no-repeat center;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	position: absolute;
    top: 135px;
    left: 4px;
}
.car_item_price {
	display: inline-block;
	vertical-align: top;
	font-family: Open Sans;
	line-height: 25px;
	font-size: 15px;
	color: #000000;
}
.car_item_price span {
	font-weight: 600;
}
.car_item_price i {
	font-family: 'ALS Rubl';
	font-style: normal;
}
.car_price_first_line {
	margin-bottom: 84px;
}
.car_price_second_line {
	margin-bottom: 133px;
}
.car_price_first_line .car_item_price {
	/* margin-right: 139px; */
	margin-right: 155px;
}
.car_price_first_line .car_item_price:first-child {
	margin-left: 46px;
}
.car_price_first_line .car_item_price:last-child {
	margin-right: 0;
}
.car_price_second_line .car_item_price:first-child {
	float: left;
    margin-left: -137px;
}
.car_price_second_line .car_item_price:last-child {
	float: right;
	margin-right: -98px;
}
.car_price_third_line .car_item_price:first-child {
	float: left;
    margin-left: -137px;
}
.car_price_third_line .car_item_price:last-child {
	float: right;
	margin-right: -98px;
}
.car_price_third_line {
	margin-bottom: 102px;
}
.car_price_fouth_line .car_item_price {
	/* margin-right: 151px; */
	margin-right: 225px;
}
.car_price_fouth_line .car_item_price:first-child {
	margin-left: -45px;
}
.car_price_fouth_line .car_item_price_last {
	margin-right: 0;
}
.car_price_fouth_line img {
	float: right;
	margin: 7px -138px 0 0px;
}
.car:before {
	content: "";
	display: block;
	width: 112px;
	height: 112px;
	background: url(../img/shtamp.png) no-repeat center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	position: absolute;
    top: 41px;
    left: -138px;
}
.about {
	padding: 66px 0 80px 0;
}
.about .title {
	margin-bottom: 23px;
}
.about .desc {
	max-width: 816px;
	width: 100%;
	margin-bottom: 44px;
}
.photos	{
	border-radius: 7px;
	font-size: 0;
}
/*.photos_left {
	display: inline-block;
	vertical-align: top;
	max-width: 724px;
	width: 100%;
	margin-right: 1px;
}
.photos_right {
	display: inline-block;
	vertical-align: top;
	max-width: 635px;
	width: 100%;
}*/
.photos a:first-child {
	max-width: 724px;
	float: left;
	width: 100%;
	height: 500px;
	width: 100%;
	-webkit-border-radius: 7px 0 0 7px;
	        border-radius: 7px 0 0 7px;
	margin-right: 1px;
}
.photos a:nth-child(2) {
	max-width: 635px;
	height: 240px;
	width: 100%;
	-webkit-border-radius: 0 7px 0 0;
	        border-radius: 0 7px 0 0;
	margin-bottom: 1px;
}
.photos a:nth-child(3) {
	display: inline-block;
	vertical-align: top;
	max-width: 363px;
	height: 259px;
	width: 100%;
	margin-right: 1px;
}
.photos a:last-child {
	display: inline-block;
	vertical-align: top;
	max-width: 271px;
	height: 259px;
	width: 100%;
	-webkit-border-radius: 0 0 7px 0;
	        border-radius: 0 0 7px 0;
}
.photos_left a {
	height: 500px;
	width: 100%;
	-webkit-border-radius: 7px 0 0 7px;
	        border-radius: 7px 0 0 7px;
}
.photos_right_top a {
	height: 240px;
	width: 100%;
	-webkit-border-radius: 0 7px 0 0;
	        border-radius: 0 7px 0 0;
}
.photos_right_bottom a:first-child {
	max-width: 363px;
	width: 100%;
	height: 259px;
}
.photos_right_bottom a:last-child {
	max-width: 271px;
	width: 100%;
	height: 259px;
	-webkit-border-radius: 0 0 7px 0;
	        border-radius: 0 0 7px 0;
}
.photos a {
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.photos_right_top {
	margin-bottom: 1px;
}
.photos a {
	position: relative;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.photos a:after {
	content: none;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	background-image: url(../img/zoom.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.photos a:hover:after {
	content: "";
}
.photos_right_bottom a:last-child {
	margin-left: 1px;
}
.compensate-for-scrollbar {
    margin-right: 0!important;
}
.free_consult {
	background: #ED1C24;
	position: relative;
	padding: 66px 0 80px 0;
}
.free_consult_text {
	display: inline-block;
	vertical-align: top;
	margin-right: 82px;
}
.free_consult_text .title {
	color: #FFF;
	margin-bottom: 12px;
}
.free_consult_text .desc {
	position: relative;
	max-width: 520px;
	width: 100%;
	color: #FFF;
	margin-bottom: 23px;
}
.free_consult_text .desc:after {
	content: "";
	position: absolute;
    right: 173px;
    top: 43px;
    display: block;
    width: 55px;
    height: 78px;
    background: url(../img/arrow_down_white.svg) no-repeat center;
    transform: rotate(0);
}
.free_consult_text .black_btn {
	display: block;
	max-width: 272px;
	width: 100%;
}
.free_consult_adv {
	display: inline-block;
	vertical-align: top;
	padding: 13px 0 0 0;
}
.free_consult_adv_item {
    padding: 2px 0 0 40px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	color: #FFFFFF;
	background: url(../img/galka_white.svg) no-repeat left top;
	margin-bottom: 37px;
}
.master {
	position: absolute;
	right: 0;
	top: 0;
	width: 814px;
	height: 542px;
	background: url(../img/red3.jpg) no-repeat center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.master:before {
	content: "";
	display: block;
	width: 112px;
	height: 112px;
	position: absolute;
    top: 133px;
    left: 90px;
	background: url(../img/shtamp_white.png) no-repeat center;
}
.footer {
	padding: 30px 0 29px 0;
	border-bottom: 1px solid #CECECE;
}
.footer_top {
	font-size: 0;
	padding: 0px 0 29px 0;
    border-bottom: 1px solid #CECECE;
    margin-bottom: 22px;
}
.footer_bottom {
	padding: 0 0 0 0;
	font-size: 0;
}
.copyright {
	display: inline-block;
	vertical-align: top;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 12px;
	color: #000000;
	margin-right: 51px;
}
.promo {
	display: inline-block;
	vertical-align: top;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	margin-right: 64px;
}
.promo span {
	text-decoration: underline;
}
.policy, .privacy {
	display: inline-block;
	vertical-align: top;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 12px;
	text-decoration-line: underline;
	color: #000000;
}
.policy {
	margin-right: 92px;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
}
.fixed .top_menu {
	padding: 0;
}
.fixed .contacts_fix {
	display: block;
}
.shadow {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3),0,0,0.3;
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3)0,0.3;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
}
.text_mob {
	display: none;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}
.phone_mob {
	display: none;
	max-width: 80px;
	width: 100%;
	height: 80px;
	background: url(../img/phone_black.svg) no-repeat center;
}



/*
    F O O T E R
*/










/*
    P O P U P
*/


/*
    M O B I L E 
*/

@media screen and (max-width: 1380px) {
	html, body{
      min-width: 320px;
      width: 100%;
    }
    body {
      overflow-x: hidden;
    }
    a:focus {
      outline: none;
    }
    .container {
      width: 100% !important;
      max-width: 1380px;
      padding: 0 10px;
    }
    .footer .logo,
    .header .logo {
    	margin-right: 20px;
    }
    .logo_text {
    	max-width: 210px;
    }
    .address {
    	max-width: 190px;
    }
    .phone {
    	max-width: 205px;
    }
    .callback {
    	float: right;
    }
    .car_price_fouth_line img {
	    margin: 7px -22px 0 0px;
	}
	.car {
	    max-width: 880px;
	    margin-left: -440px;
        padding: 138px 0 0 0;
	}
	.car_price_first_line .car_item_price {
		/* margin-right: 85px; */
		margin-right: 100px;
	}
	.car_price_first_line {
		margin-bottom: 60px;
	}
	.car:after {
	    content: "";
	    max-width: 880px;
	    width: 100%;
	    height: 440px;
	    background: url(../img/lines.png) no-repeat center;
	    -webkit-background-size: contain;
	    -o-background-size: contain;
	    background-size: contain;
	    position: absolute;
	    top: 128px;
	    left: -16px;
	}
	.car_price_third_line {
	    margin-bottom: 57px;
	}
	.car_price_fouth_line .car_item_price {
		/* margin-right: 95px; */
		margin-right: 170px;
	}
	.car_price_fouth_line .car_item_price_last {
		margin-right: 0;
	}
	.car_price_fouth_line img {
	    margin: 7px -53px 0 0px;
	}
	.photos a {
		display: block;
		max-width: 259px!important;
		width: 100%!important;
		height: 259px!important;
		background-position: center!important;
		-webkit-background-size: cover !important;
		     -o-background-size: cover !important;
		        background-size: cover !important;
		background-repeat: no-repeat!important;
		-webkit-border-radius: 7px!important;
		        border-radius: 7px!important;
		margin: 0 10px;
	}
	.photos .slick-list {
		margin: 0 -10px;
	}
	.car_items {
		height: 700px;
	}
}

@media screen and (max-width: 1340px) {
	.service_item_title {
		height: 64px;
	}
	.service_item_desc br {
		display: none;
	}
	.service_item {
		padding: 0px 25px 29px 25px;
	}
}

@media screen and (max-width: 1660px) {
	.master:before {
	    top: 20px;
    	left: 340px;
	}
}

@media screen and (max-width: 1330px) {
	.service_item_desc {
		height: 85px;
	}
	.top_wrap_auto {
		top: 105px;
	    width: 545px;
	    height: 281px;
    }
}

@media screen and (max-width: 1200px) {
	.callback {
		display: none;
	}
	.top_menu {
		padding: 0;
		max-width: 600px;
	}
	.contacts_fix {
		display: block;
	}
	.phone {
		display: none;
	}
	.car {
	    max-width: 750px;
	    margin-left: -375px;
	    padding: 138px 0 0 0;
	}
	.car:after {
	    content: "";
	    max-width: 750px;
	    width: 100%;
	    height: 440px;
	    background: url(../img/lines.png) no-repeat center;
	    -webkit-background-size: contain;
	    -o-background-size: contain;
	    background-size: contain;
	    position: absolute;
	    top: 121px;
	    left: -14px;
	}
	.car_price_first_line .car_item_price {
	    /* margin-right: 30px; */
	    margin-right: 60px;
	}
	.car_price_first_line {
	    margin-bottom: 58px;
	}
	.car_price_second_line {
	    margin-bottom: 107px;
	}
	.car_price_fouth_line .car_item_price {
	    /* margin-right: 66px; */
	    margin-right: 135px;
	}
	.car_price_fouth_line .car_item_price_last {
	    margin-right: 0;
	}
	.car_price_fouth_line img {
	    margin: 7px -89px 0 0px;
	}
}

@media screen and (max-width: 1160px) {
	.master:before {
	    right: 20px;
    	left: inherit;
	}
}

@media screen and (max-width: 1120px) {
	.master:before {
	    right: 20px;
    	left: inherit;
	}
	.top_wrap_auto {
	    top: 165px;
	    width: 377px;
	    height: 194px;
	}
	.top_wrap_auto:after {
	    content: "";
	    display: block;
	    position: absolute;
	    left: inherit;
	    right: 0;
	    top: 11px;
	    width: 64px;
	    height: 64px;
	    background: url(../img/shtamp.png) no-repeat center;
	    background-size: cover;
	}
	.top_menu a {
		font-size: 13px;
	}
	.top_menu {
	    max-width: 535px;
	}
}

@media screen and (max-width: 1050px) {
	.car {
	    max-width: 550px;
	    margin-left: -275px;
	    padding: 180px 0 0 0;
	}
	.car:after {
	    content: "";
	    max-width: 550px;
	    width: 100%;
	    height: 440px;
	    background: url(../img/lines.png) no-repeat center;
	    -webkit-background-size: contain;
	    -o-background-size: contain;
	    background-size: contain;
	    position: absolute;
	    top: 111px;
	    left: -12px;
	}
	.car_price_first_line .car_item_price {
	    /* margin-right: 17px; */
	    margin-right: 40px;
	}
	.car_price_first_line .car_item_price:first-child {
	    margin-left: 0;
	}
	.car_item_price {
	    display: inline-block;
	    vertical-align: top;
	    font-family: Open Sans;
	    line-height: 16px;
	    font-size: 13px;
	    color: #000000;
	}
	.car_price_first_line {
	    margin-bottom: 35px;
	}
	.car_price_second_line .car_item_price:first-child {
	    float: left;
	    margin-left: -58px;
	}
	.car_price_second_line .car_item_price:last-child {
	    float: right;
	    margin-right: -69px;
	    margin-top: 12px;
	}
	.car_price_second_line {
	    margin-bottom: 48px;
	}
	.car_price_third_line .car_item_price:first-child {
	    float: left;
	    margin-left: -98px;
	}
	.car_price_third_line {
	    margin-bottom: 73px;
	}
	.car_price_fouth_line .car_item_price {
	    /* margin-right: 31px; */
	    margin-right: 95px;
	}
	.car_price_fouth_line .car_item_price_last {
	    margin-right: 0;
	}
	.car_price_fouth_line img {
	   	margin: 7px -114px 0 0px;
	}
	.car_items {
		height: 575px;
	}
}

@media screen and (max-width: 1020px) {
	.contacts_fix_tel {
		display: none;
	}	
	.contacts_fix {
		max-width: 272px;
	}
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 950px) {
	.top_wrap_auto {
		position: relative;
		top: 0;
		left: 0;
	}
	.top_wrap_auto:after {
	    content: "";
	    display: block;
	    position: absolute;
	    left: initial;
	    right: -33px;
	    top: 0px;
	    width: 64px;
	    height: 64px;
	    background: url(../img/shtamp.png) no-repeat center;
	    background-size: cover;
	}
	.service_item .btn {
	    padding: 5px 0 6px 0;
	    font-size: 14px;
	    max-width: 280px;
	}
	.service_item {
	    padding: 0px 20px 29px 20px;
	}
	.top_wrap {
	    padding: 0 0 25px 0;
	}
}

@media screen and (max-width: 920px) {
	.service_item_desc {
	    height: 105px;
	}
	.free_consult_text {
		margin-right: 25px;
	}
}

@media screen and (max-width: 840px) {
	.car:before {
		content: none;
	}
	.car_price_fouth_line img {
		display: none;
	}
	.contacts_fix .callback {
		display: none;
	}
	.free_consult_text {
		display: block;
		margin-right: 0;
	}
	.master {
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    top: initial;
	    width: 100%;
	    height: 479px;
	    background: url(../img/red3.jpg) no-repeat top center;
	    -webkit-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
	.free_consult_text .black_btn {
	    position: absolute;
	    bottom: -35px;
	}
	.master:before {
		top: 42px;
	}
	.free_consult_text .desc:after {
		content: none;
	}
}

@media screen and (max-width: 820px) {
	.service_item .btn {
		font-size: 13px;
	}
}

@media screen and (max-width: 810px) {
	.footer_bottom {
		text-align: center;
	}
	.copyright {
		display: block;
		text-align: center;
		margin-right: 0;
	}	
	.promo, .policy, .privacy {
		display: block;
		text-align: center;
		margin-right: 0;
		margin: 10px 0;
	}
}

@media screen and (max-width: 768px) {
	.photos a:after{
		background: transparent;
	}
}


@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 760px) {
	.service_item {
		width: 100%;
		border: none;
		border-bottom: 1px solid #CECECE;
		border-radius: 0!important;
		margin-bottom: 63px;
	}
	.services_items .service_item:last-child {
		margin-bottom: 0;
	}
	.service_item_desc, .service_item_title {
		height: auto;
	}
	.services_items {
	    font-size: 0;
	    padding: 55px 0 0 0;
	}
	.services_items_box {
		margin: 0 -10px;
	}
	.car_items_img {
		display: none;
	}
	.car {
		padding: 0;
		background: none;
	    height: auto;
	    position: static;
	    width: 100%;
	    max-width: 100%;
	    margin: 0;
	    padding: 15px 0;
	}
	.car:after {
		content: none;
	}
	.car_items {
	    height: auto;
	}
	.car_item_price {
		float: none !important;
		margin: 0 !important;
		width: 33.33%!important;
		font-family: Open Sans;
		line-height: 25px;
		font-size: 15px;
		color: #000000;
		margin-bottom: 10px!important;
	}
	.car_price_first_line,
	.car_price_second_line,
	.car_price_third_line,
	.car_price_fouth_line {
		margin-bottom: 0;
		text-align: center;
	}
}

@media screen and (max-width: 715px) {
	.header .address {
		display: none;
	}
	.footer_top {
		text-align: center;
	}
	.footer_top .logo {
		display: none;
	}
	.footer_top .logo_text {
		display: block;
		max-width: 190px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.footer_top .address {
		display: block;
		max-width: 190px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
	}
	.footer_top .phone {
		display: block;
		max-width: 202px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
	}
}

@media screen and (max-width: 600px) {
	.advantages_item {
		display: block;
	    padding: 2px 0 2px 40px;
		width: 100%;
	}
	.advantages_item br {
		display: none;
	}
	.text_sale_price:before {
		content: none;
	}
	.text_sale_price {
		display: block;
		margin-left: 0;
	}
	.text_sale_price br {
		display: none;
	}
}

@media screen and (max-width: 575px) {
	.title {
		font-family: Pragmatica;
		line-height: normal;
		font-size: 22px;
		text-transform: uppercase;
		color: #000000;
	}
	.top_nav {
		display: none;
	}
}

@media screen and (max-width: 530px) {
	.logo_text {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.master {
		height: 214px;
	}
	.master:before {
		width: 77px;
		height: 77px;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
	.free_consult {
	    padding: 66px 0 320px 0;
	}
	.text_mob {
	    position: absolute;
	    display: block;
	    bottom: -70px;
	    width: 93%;
	    text-align: left;
	}
	.top_wrap_auto {
		width: 246px;
		height: 158px;
	}
	.top_wrap {
	    padding: 0 10px 25px 10px;
	}
	.header .logo {
		width: 204px;
		height: 42px;
	}
	.phone_mob {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		border-left: 1px solid #CECECE;
	}
	.header {
    	padding: 19px 0 19px 11px;
	}
	.panorama {
	    background-position: center;
        height: 91px;
        margin-bottom: 12px;
        -webkit-background-size: auto;
             -o-background-size: auto;
                background-size: auto;
    }
    .title br {
    	display: none;
    }
    .top_wrap .title br:first-child {
    	display: block;
    }
    .top_wrap .title {
    	margin-bottom: -6px;
    }
    .top_wrap_auto:after {
	    content: "";
	    right: -34px;
	    top: -8px;
    }
    .top_wrap .advantages .advantages_item:first-child {
	    padding: 2px 108px 2px 39px;
    }
    .top_wrap .advantages .advantages_item:nth-child(2) {
    	padding: 2px 45px 2px 39px;
    }
    .top_wrap .advantages .advantages_item:last-child {
    	padding: 2px 35px 2px 39px;
    }
    .advantages_item {
    	margin-bottom: 14px;
    }
    .advantages {
    	margin-bottom: 24px;
    }
    .top_wrap .red_btn {
    	max-width: 280px;
    	margin-bottom: 5px;
    }
    .text_sale_price {
    	text-align: center;
    }
    .top_wrap {
	    padding: 0 10px 26px 10px;
	}
	.banner {
	    padding: 31px 10px 30px 10px;
	    border-bottom: 1px solid #CECECE;
	}
	.services_items {
	    font-size: 0;
	    padding: 58px 0 0 0;
	}
	.service_item_desc {
		margin-bottom: 12px;
	}
	.service_item .btn {
		padding: 12px 0 13px 0;
		line-height: 26px;
		font-size: 16px;
	}
	.service_item {
		padding: 0px 20px 30px 20px;
		margin-bottom: 58px;
	}
	.car_item_price {
		width: 100%!important;
		text-align: left;
	    border-bottom: 1px solid #CECECE;
        padding: 20px 35px 23px 20px;
	    margin-bottom: 0!important;
	}
	.car_item_price br {
		display: none;
	}
	.car_items .container {
		padding: 0;
	}
	.car {
		padding: 0;
	}
	.car_price_fouth_line .car_item_price_last {
		border: none;
	}
	.about .title br {
		display: block;
	}
	.about .title {
		margin-bottom: 14px;
	}
	.about {
	    padding: 33px 10px 80px 10px;
	}
	.desc {
		font-size: 15px;
		line-height: normal;
	}
	.photos a {
		max-width: 200px !important;
		width: 200px!important;
		height: 200px!important;
	}
	.about .desc {
		margin-bottom: 30px;
	}
	.about {
	    padding: 33px 10px 30px 10px;
	}
	.free_consult {
	    padding: 33px 10px 320px 10px;
	}	
	.free_consult .title br {
		display: block;
	}
	.free_consult_text .title {
	    color: #FFF;
	    margin-bottom: 3px;
	}
	.free_consult .desc {
		margin-bottom: 4px;
	}
	.free_consult .desc br {
		display: none;
	}
	.photos {
		padding: 0 10px;
	}
	.free_consult_adv {
		display: block;
	}
	.free_consult_adv .free_consult_adv_item {
		margin-bottom: 16px;
	}
	.free_consult_adv .free_consult_adv_item br {
		display: none;
	}
	.free_consult_adv .free_consult_adv_item:first-child {
		    padding: 2px 110px 0 40px;
	}
	.free_consult_adv .free_consult_adv_item:nth-child(2) {
		    padding: 2px 0 0 40px;
	}
	.free_consult_adv .free_consult_adv_item:last-child {
		    padding: 2px 0 0 40px;
	}
	.free_consult_text .black_btn {
	    position: absolute;
	    bottom: -81px;
	    max-width: 280px;
	}
	.text_mob {
	    position: absolute;
	    display: block;
	    bottom: -130px;
	    width: 93%;
	    text-align: center;
	}
	.free_consult {
	    padding: 33px 10px 328px 10px;
	}
	.master:before {
	    right: initial;
	    left: 20px;
	    top: 51px;
	}
	.footer {
	    padding: 10px 0 29px 0px;
	    border-bottom: 1px solid #CECECE;
	}
	.footer_top .logo_text {
		margin-bottom: 17px;
	}
	.footer_top .address {
		margin-bottom: 22px;
	}
	.footer_top {
	    padding: 0px 0 23px 0;
    }
    .copyright {
    	display: none;
    }
    .promo {
    	position: relative;
    	max-width: 280px;
    	width: 100%;
	    /*bottom: -79px;*/
    	left: 50%;
    	margin-left: -140px;
    }
    .policy {
    	position: relative;
    	max-width: 280px;
    	width: 100%;
    	bottom: -50px;
    	left: 50%;
    	margin-left: -140px;
    }
    .privacy {
    	position: relative;
    	max-width: 280px;
    	width: 100%;
    	bottom: -40px;
    	left: 50%;
    	margin-left: -140px;
    }
    .footer_bottom {
	    padding: 0 0 67px 0;
	}
}

@media screen and (max-width: 495px) {
	.top_wrap_auto:after {
		top: 5px;
	}
}

@media screen and (max-width: 475px) {
	
}


@media screen and (max-width: 373px) {
	.top_wrap_auto:after {
		top: -8px;
	}
}

@media screen and (max-width: 320px) {
	
}

.map {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	padding:50px;
}


.description {
	/*max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 50px;*/
}
@media screen and (max-width: 1120px) {
	.description {
	max-width: 100%;
	padding: 10px;
}
	.map {
		padding: 0;
	}
	.description p {
		text-align: center;
	}
}

.footnote {
	font-size: 0.694rem;
	line-height: 14px;
	margin:20px auto;
	color: #a5a5a5;
}

.list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item {
	margin-top:20px;
	display: flex;
	justify-content: space-around;
	/*width: 24%;*/
	border-bottom: 1px solid;
	border-right: 1px solid;
	padding: 5px;
	box-shadow: 8px 8px 10px rgba(0,0,0,0.5);
	align-items: center;
}

.item p {
	line-height: normal;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
}

.item img {
	width:33%;
	height: 33%;
}

.item b {
	font-size: 10px;
	white-space: nowrap;
	overflow: 	hidden;
	text-align:center;
	display: block;
	padding: 5px;
	margin-top: 10px;
	text-overflow: ellipsis;
}
@media screen and (max-width: 1000px) {
	.item {
	width: 100%;
	}
}

.specialBtn {
	border: 1px solid #B01B2E;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    padding: 12px 0 13px 0;
    color: #000000;
    width: 100%;
    display: inline-block;
    vertical-align: top;

}

.specialBtn, .specialBtn:hover, .specialBtn:focus {
	background-color: #B01B2E;
	transition: background-color 0.5s ease;
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	justify-content: center;
    display: flex;
    margin: 20px 0;
}
.breadcrumbs {
	display: block;
	padding-top: 20px;
	clear: both;
	overflow: hidden;
}
.breadcrumbs li, .breadcrumbs a {
	color: #999;
}
.breadcrumbs a:hover {
	color: #999;
}
.breadcrumbs li {
	float: left;
	padding-right: 5px;
	font-size: 12px;
}
#special {
	    padding: 20px;
}
ol,ul {
	margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
}

.specialTitle {
    display: block;
    clear: both;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 26px;
}

.specials {
	    padding: 66px 0 0;
}

.banners {

	padding: 50px;

}
.banners img {
	margin: 0 auto;
}

.content{
	width:33%;
	height: 33%
	padding: 50px;
}

@media screen and (min-width: 575px){
	.topnav, .mobile-container {
		display: none;
	}
}

@media screen and (max-width: 320px){
	.content {
		padding: 6px;
	}
	.title{
	}
}

@media screen and (max-width: 375px){
	.content {
		padding: 10px;
	}
}

@media screen and (max-width: 414px){
	.content {
		padding: 10px;
	}
}

@media screen and (max-width: 760px){
	.extra {
		display: none;
	}
}

@media screen and (max-width: 1380px){

	}